Brain-Drive-n8n/Doc-Vector-Uploader.json
{
  "name": "Doc-Vector-Uploader",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13DrUVmFsS-dWgXLGfUpdiAzB4cs_ISCD",
          "mode": "list",
          "cachedResultName": "RAG-N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13DrUVmFsS-dWgXLGfUpdiAzB4cs_ISCD"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a3ba610e-7462-4a65-b67f-b9ecac5519c5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aj2czyrDNqE9WG4d",
          "name": "RAG-test"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3549bf0d-7dad-4f73-9a96-7d75ae3627e8",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "d6134492-13a7-4145-a25c-170e475f9775",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "5c09ea25-f4a9-41f1-ad42-a0f2cfd83e71",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aj2czyrDNqE9WG4d",
          "name": "RAG-test"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "74dcc7b8-ab16-4277-9e33-37963b0b7fea",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1104,
        0
      ],
      "id": "3b062782-89cd-4581-ad80-98c32f00d13b",
      "name": "data_uploader",
      "credentials": {
        "supabaseApi": {
          "id": "LfvMrxyA2lQSiIob",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1296,
        192
      ],
      "id": "6b025361-18bc-4ebc-bbd1-cf0647a445ee",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1408,
        368
      ],
      "id": "fc7e47e7-d4da-4d7b-a98f-f5961ffc2568",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        368
      ],
      "id": "4830f78a-82c1-4396-8d1f-b59977af312a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mkt6aDr7daFtK7mm",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "data_uploader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "data_uploader",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "data_uploader",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "09cce9f6-a67c-49f0-9974-429dcafa97b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44ccea921b1637d384552b6fcec0af7b6301e9f71f9523dddee3344dec38d2b6"
  },
  "id": "byQzqxXecVz3CFig",
  "tags": []
}